body {
    font-family: sans-serif;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(14, 14, 38);
    color: white;
    border-radius: 0.5ch;
}

.add-form {
    display: table;
    margin: 5% auto
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block
}

.form-control input {
    margin: 1ch;
    padding: 0.75ch;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task{
    color: rgb(14, 14, 38);
    border: 0.5ch solid rgb(14, 14, 38);
    border-radius: 0.5ch;
    padding: 1.5ch 5ch;
    margin: 5ch 5ch;
}
.task.reminder{
    color: white;
    background-color: rgb(14, 14, 38);
    border-radius: 0.5ch;
    padding: 1.5ch 5ch;
    margin: 5ch 5ch;
}

.delete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete:hover{
    cursor: pointer;
}

.btn {
    font-family: inherit;
    background-color: white;
    border: none;
    border-radius: 0.5ch;
    color: rgb(14, 14, 38);
    padding: 0.75rem;
    text-align: center;
}

.btn:hover{
    cursor: pointer;
}

.submit {
    width: 100%;
    color: white;
    background-color: rgb(14, 14, 38);
    border: none;
    border-radius: 0.5ch;
}

.submit:hover{
    cursor: pointer;
}